<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooddeliverfortrain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/delivery"
        android:label="@string/app_name"
        android:roundIcon="@drawable/delivery"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDeliverForTrain"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".rider.RiderUserLocation"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAstRLiJWR9LOpxICg2CdXkGFbTZSV41BA" />

        <activity
            android:name=".rider.RiderShowOrder"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerShowOrders"
            android:exported="true" />
        <activity
            android:name=".restaurant.RestaurantShowOrders"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerShowFood"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerCart"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerShowRestaurantFood"
            android:exported="true" />
        <activity
            android:name=".restaurant.RestaurantResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".rider.RiderResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerDashboard"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerGoogleSigninActivity"
            android:exported="true" />
        <activity
            android:name=".restaurant.RestaurantGoogleSigninActivity"
            android:exported="true" />
        <activity
            android:name=".restaurant.RestaurantDashboard"
            android:exported="true" />
        <activity
            android:name=".rider.RiderGoogleSigninActivity"
            android:exported="true" />
        <activity
            android:name=".rider.RiderDashboard"
            android:exported="true" />
        <activity
            android:name=".restaurant.RestaurantLogin"
            android:exported="true" />
        <activity
            android:name=".restaurant.RestaurantRegister"
            android:exported="true" />
        <activity
            android:name=".rider.RiderLogin"
            android:exported="true" />
        <activity
            android:name=".rider.RiderRegister"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerRegister"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerLogin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>